<!DOCTYPE html>
<html>

<link href="../assets/css/main.css" rel="stylesheet" type="text/css" />
<link href="../assets/css/login-register.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../scripts/script.js"></script>

<head>

    <img class="logo-img" src="../assets/img/Earth_recycle.png" alt="XX">
    <title>Recycle API</title>

</head>

<body class="bg">
    <input type="checkbox" id="check">
    <label for="check">
        <img class="menu-img" src="../assets/img/icons8-menu-48.png" alt="">
    </label>
    <nav>
        <ul>
            <li><a class="list" href="../index.html">Home</a></li>
            <li><a class="list" href="login-register.html">Sign up/ Sign in</a></li>
            <li><a class="list" href="">Materials</a></li>
            <li><a class="list" href="">Buy</a></li>
            <li><a class="list" href="">Sell</a></li>
            <li><a class="list" href="">Contact</a></li>
        </ul>
    </nav>

    <div id="login-div">

        <h1 class="sign-in"> - Sign in - </h1>
        </br>
        </br>
        <h4 class="txt">Username: </h3><input class="login-info" type="text" placeholder="Username">
            <h4 class="txt">Password: </h3><input class="login-info" type="password" placeholder="Password">
                <button id="confirm" type="submit">Confirm</button>
                <a id="sign-up" onclick="minimize('login-div', 'register-div')">Not registered yet?</a>

    </div>

    <div id="register-div">

        <h1 class="sign-up">- Create account -</h1>
        <h4 class="txt">ID : </h3><input id="id-info" class="register-info" type="text" placeholder="Client ID" name="id">
            </br>
            </br>
            <h4 class="txt">First Name: </h3><input id="fname-info" class="register-info" type="text" placeholder="First Name">
                </br>
                </br>
                <h4 class="txt">Last Name: </h3><input id="lname-info" class="register-info" type="text" placeholder="Last Name">
                    </br>
                    </br>
                    <h4 class="txt">Age: </h3><input id="age-info" class="register-info" type="text" placeholder="Age">
                        </br>
                        </br>
                        <h4 class="txt">E-mail: </h3><input id="email-info" class="register-info" type="text" placeholder="E-mail">
                            </br>
                            </br>
                            <a id="sign-in" onclick="minimize('register-div','login-div')">Already have an account?</a>
                            <button id="next" onclick="checkInfo()">Next</button>

    </div>

    <div id="second-register-div">
        <h1 class="account-settings"> - Account Settings - </h1>
        <h3 class="account-settings">Username: </h3><input class="account-settings" type="text">
        </br>
        <h3 class="account-settings">Password: </h3><input class="account-settings" type="password">
        </br>
        <h3 class="account-settings">Confirm password: </h3><input class="account-settings" type="password">
        </br>
        <button type="submit" id="register-btn">Register</button>
        <button type="submit" id="cancel-btn" onclick="minimize('second-register-div', 'register-div')">Cancel</button>
    </div>
</body>

<footer>
    <div class="copyright">
        <a>API Desenvolvida por </a>
        <a target="_blank" class="reference" href="https://github.com/Benilsn">Benilson .</a>
    </div>
</footer>

</html>